.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('/Img/ima3.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #202A5C;
    border: none;
    color: #fff;

  }
  .btn-login:hover{
    color: #fff;
  }

  #titulo_login{
      text-align: center;
      color: #202A5C;
      font-weight: 400;
  }
  .small{
      color: #984D4D;
  }

  .small:hover{
    color: #984D4D;
  }

  .form-check-input:checked {
    background-color: #202A5C;
    border-color: #202A5C;
  }